* {
  margin: 0;
}


	html, body {
		height: 98%;
		font-family: 'Avenir Next',sans-serif !important;
		/*font-family: 'Merriweather', Georgia, Times !important;*/

	}


	#wrap {
    	width: 850px;
    	min-height: 100%;
    	/*height: 100%;*/
    	margin-left: auto;
    	margin-right: auto;
    	margin-top: 2em;
    	margin-bottom: -80px;

	}

	#wrap:after {
	  content: "";
	  display: block;
	}


	#name {
		width:400px;
		height: 50px;
		background:#A9A9A9;
		float:right;
		margin-bottom: 2em;
		position: relative;
	}

	#name text{
		color:white;
		font-size: 2em;
		font-weight: bold;
		position:absolute;
		bottom: -8px;
		right:-2px;
	}

	a.home-link {
		text-decoration: none;
		color:white;
	}

	#frame {
    	clear:both;
    	margin-top: 1em;
    	/*border: 2px solid #A9A9A9;*/
    	margin-bottom: 1em;
    	
	}

	#nav {
		width:90%;
		margin:auto;
	}

	#nav ul {
		display: table;
		width: 100%;
		list-style: none;
	}
	
	#nav ul li {
		display: table-cell;
		text-align: center;
	}
	
	#nav ul li a {
		display: block;
		text-decoration: none;
		color:#A9A9A9;
		font-size: 1.3em;
		font-weight: bold;
		text-align: right;
	}
	

	#frame #textbox {
		width: 80%;
		margin: 5% 10%;
	}


	h2, h3 {
		margin: 1em 0;
	}

	a {
		text-decoration: underline;
		color: #A9A9A9;
	}

	a.project-link {
		text-decoration: none;
		font-size: 1.1em;
		font-weight: bold;
	}

	ul.project_ul {
		list-style: none;
	}

	#textbox {
		font-size: 0.9em;
	}


	#textbox ul {
		list-style-type: square;
		
	}
	
	#textbox ul li {
		padding-bottom: 1em;
	}

	#cloud {
		height:500px;
		/*border:solid blue 1px;*/
	}

	img.oquote {
		float:right;
		margin-right:380px;
	}

	img.cquote {
		float:right;
		margin-right:0px;
		margin-top: -20px;
	}


	blockquote {
	margin-left:auto; 
	margin-right:0;
	font-family: Georgia, serif;
	text-align: right;
	font-size: 1.3em;
	font-style: italic;
	width: 340px;
	padding: 0.25em 40px;
	line-height: 1.45;
	position: relative;
	color: #383838;
	}

	cite.citewho {
	float:right;	
	padding:0.25em 40px;
	margin-bottom: 2em;
	}



	.site-footer, #wrap:after {
	  height: 80px; 
	}
	.site-footer {
	 	background: #A9A9A9;
    	width: 850px;
    	margin-left: auto;
    	margin-right: auto;
	}
