<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://d3js.org/d3.v3.js"></script>
<script src="/assets/d3.layout.cloud.js"></script>

<script type="text/javascript">
		

	var fill = d3.scale.category20();

	var width = 600,
	  height = 500;


	var data = [{"text": "MySQL", "size": 7}, {"text": "Linux", "size": 9}, {"text": "Ruby", "size": 5}, {"text": "Ruby on Rails", "size": 6}, {"text": "R", "size": 1}, {"text": "Github", "size": 2}, {"text": "Peptides", "size": 2}, {"text": "YAML", "size": 1}, {"text": "JavaScript", "size": 4}, {"text": "D3.js", "size": 1}, {"text": "RSpec", "size": 1}, {"text": "Python", "size": 5}, {"text": "C++", "size": 2}, {"text": "Git", "size": 4}, {"text": "XML", "size": 6}, {"text": "CSS", "size": 3}, {"text": "HAML", "size": 1}, {"text": "RVM", "size": 1}, {"text": "CoffeScript", "size": 1}, {"text": "Test Driven Development", "size": 1}, {"text": "Inkscape", "size": 1}, {"text": "Bioinformatics", "size": 11}, {"text": "Java", "size": 4}, {"text": "AJAX", "size": 6}, {"text": "Proteomics", "size": 3}, {"text": "SASS", "size": 3}, {"text": "Mass Spectrometry", "size": 1}, {"text": "SVG", "size": 1}, {"text": "BDD", "size": 1}, {"text": "Programming", "size": 4}, {"text": "HTML", "size": 5}]


	var fontScale = d3.scale.linear()
					.domain([d3.min(data, function(d) {return d.size;}), d3.max(data, function(d) {return d.size;})])
					.range([6, 20]);



	d3.layout.cloud().size([width, height])
					.words(data)
					.padding(5)
					.rotate(function(d) { return 0; })
					.font("Impact")
					.text(function(d) { return d.text; }) // THE SOLUTION
					.fontSize(function(d) { return fontScale(d.size); })
					.on("end", draw)
					.start();


	function draw(words) {
		d3.select("#cloud").append("svg")
			.attr("width", width)
			.attr("height", height)
			.append("g")
			.attr("transform", "translate(" + [width >> 1, height >> 1] + ")")
			.selectAll("text")
			.data(words)
			.enter().append("text")
			.style("font-size", function(d) { return d.size + "px"; })
			.style("font-family", "Impact")
			.style("fill", function(d, i) { return fill(i); })
			.attr("text-anchor", "middle")
			.attr("transform", function(d) {
			  return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
			})
			.text(function(d) { return d.text; });
	  }



	// set the viewbox to content bounding box (zooming in on the content, effectively trimming whitespace)

	var svg = document.getElementsByTagName("svg")[0];
	var bbox = svg.getBBox();
	var viewBox = [bbox.x, bbox.y, bbox.width, bbox.height].join(" ");
	svg.setAttribute("viewBox", viewBox);




</script>

