<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>{{ page.title }}</title>
		<script src="https://d3js.org/d3.v4.js"></script>
		<script src="https://d3js.org/d3.v3.js"></script>
		<script src="d3.layout.cloud.js"></script>
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>


	<body>

		<div id="wrap">
			<div id="name">
				 <text>Vital Vialas</text> 
			</div>

			<div id="frame">
				<div id="nav">
					<ul>
						<li><a href="">CV</a></li>
						<li><a href="">work</a></li>
						<li><a href="">me irl</a></li>
					 	<li><a href="">contact</a></li>
					</ul> 
				</div>
				<div id="textbox">

				{{ content }}
				</div>
			</div>
		</div>

	</body>

</html>
